* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-footer-container {
    height: 500px; /*change these after width and height */
    background-color: rgb(142, 165, 42);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-top-section {
    height: 100px;
    width: 100%;
    background-color: #E60012;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nintendo-logo-section {
    padding-left: 120px;
}

.footer-social-media-section {
    display: flex;
    gap: 40px;
    padding-right: 120px;
}

.footer-mid-section {
    padding-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex: 1;
    background-color: rgb(255, 255, 255);
    color: #484848; /*this color for text*/
}

.footer-bottom-section {
    color: white;
    background-color: black;
    padding-top: 25px;
    height: 10%;
    width: 100%;
}

.footer-list-container {
    padding: 5px 30px 0 15px;
    border-right: 1px solid black;
}

.footer-title-link, .footer-li-link {
    text-decoration: none;
}

.footer-list {
    list-style-type: none;
}
