h1{
    color:rgb(72, 72, 72);     
}

#buttons{
    background-color:red ;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer; 
    border: unset; 
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 0.25rem;
    display: inline;
  
}
body{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    
}
#Store,p {
    display: inline-block;
}